.divider-h {
  
    display: flex;
    border-bottom: rgba(102, 102, 102, 0.25) 3px solid;
    width: 180px;
    padding: 20px;
}

.divider-v {
    display: flex;
    border-right:#6710E0 2px solid;
    height: 440px;
    padding: 20px;
    position: absolute;
    z-index: 2;
    top: 140px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 663px;
  height: 87px;
  padding-top: 60px;
  padding-bottom:34px;
}

.title {
  font-size: var(--font-size-title);
  font-family: var(--font-secondary);
  font-weight: var(--font-primary-weight);
  font-style: var(--font-primary-style);
  

}