@import '../../styles/variables.css';

.sg-header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 97%;
    align-items: flex-start;
}

.fg-container-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap:13px;
}

.fg-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  transform: scale(0.656);
  position: fixed;
  left: -201px;
}

.fg-form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: auto;
    margin-bottom: auto;
    padding-left: 133px;
    font-family: var(--font-primary);
    font-weight: var(--font-primary-weight-bold);
    font-style: var(--font-primary-style);
}