@import '../../styles/variables.css';

.sg-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.sg-header {
    display: flex;
    justify-content: start;
    width: 90%;
    align-items: center;
    padding: 0px 0px 0px 0px !important;
}

.sg-form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: auto;
    margin-bottom: auto;
    padding-left: 133px;
}

.sg-form-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height:auto;
    padding-top: 60px;
    padding-bottom:34px;
}

.sg-form-title{
    font-size: 40px;
    font-family: var(--font-primary);
    font-weight: var(--font-primary-weight-bold);
    font-style: var(--font-primary-style);
    margin: 0px;
}

.sg-form-subtitle{
    font-size: 13px;
    font-family: var(--font-primary);
    font-weight: var(--font-primary-weight-bold);
    font-style: var(--font-primary-style);
    color: rgba(102, 102, 102, 0.6);


}

.sg-form-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    margin-bottom: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.sg-form-input-group{
    display: flex;
    flex-direction: column;
    padding-right: 54px;
    padding-top: 31px;

}

.sg-form-lb{
    font-size: 16px;
    font-family: var(--font-primary);
    font-weight: var(--font-primary-weight);
    font-style: var(--font-primary-style);
    color: #666666;
    padding-bottom: 4px;
    padding-right: 32px;

}

.sg-form-input {
    border-color: #6710E0 !important;
    font-size: var(--font-size-body);
    width: 542px;
    height: 56px !important;
    border-radius: 10px !important;
    padding-left: 24px !important;
    appearance: none;
    outline: none;
    cursor: pointer;
    font-size: var(--font-size-small) !important;
    font-family: var(--font-primary) !important;
    font-weight: var(--font-primary-weight-bold) !important;
    font-style: var(--font-primary-style) !important;
    padding-right: 24px;
}

.sg-form-input::placeholder {
    font-size: inherit;
    font-family: inherit;
    font-weight:inherit;
    font-style: inherit;
    
    color: #666666c8 !important;
    
}


.sg-form-checkbox-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    margin-bottom: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.sg-form-checkbox {
    border-radius: 10px !important;
    width:16px !important;
    height: 16px !important;
    border: 3px solid #6710E0 !important;
    appearance: none;
    outline: none;
    cursor: pointer;
    background-color: #FFFFFF;
}

.sg-form-checkbox:checked {
    background-color: #6710E0; /* Cambia el color cuando está seleccionado */
    border: 2px solid #FFFFFF; /* Agrega un borde blanco al estar seleccionado */
}



.sg-form-phone-input {
    border-color: #6710E0 !important;
    font-size: var(--font-size-body);
    width: 592px !important;
    height: 56px !important;
    border-radius: 10px !important;
    padding-left: 110px !important;
    appearance: none;
    outline: none;
    cursor: pointer;
    font-size: var(--font-size-small) !important;
    font-family: var(--font-primary) !important;
    font-weight: var(--font-primary-weight-bold) !important;
    font-style: var(--font-primary-style) !important;
    padding-right: 24px;
}

.sg-form-phone-input::placeholder {
    font-size: inherit;
    font-family: inherit;
    font-weight:inherit;
    font-style: inherit;
    
    color: #666666c8 !important;
    
}


/* Contenedor del input */
.sg-phone-input-container {
    width: 100% !important;
    
}
/* Botón del país (ícono de la bandera) */
.sg-phone-button {
    background-color: transparent !important ;
    border: none !important;
    cursor: pointer;
}

.react-tel-input .selected-flag .flag {
   left: 34px;
    transform: scale(2.2);
}


.react-tel-input .country-list{
    font-family:var(--font-primary) !important;
    font-weight: var(--font-primary-weight-bold) !important;
    font-style: var(--font-primary-style) !important;
}

.react-tel-input .selected-flag:hover {
    background: transparent !important;
}
.react-tel-input .flag-dropdown.open .selected-flag {
    background: transparent !important;
    border-radius: 3px 0 0 0;
}
.react-tel-input .flag-dropdown.open .selected-flag:hover {
    background: transparent !important;
}

/* Placeholder del input */
.react-tel-input .form-control::placeholder {
    color: #666666c8;
    font-size: var(--font-size-small);
}